@font-face {
    font-family: 'font1';
    src: url('/fon1.ttf');
    /* 修改成你的字体 */
    font-display: swap
}

body {
    color: #e8ebe9
}


/* 文章日期颜色 */

#recent-posts>.recent-post-item>.recent-post-info>.article-meta-wrap {
    color: #e8ebe9;
}

#recent-posts>.recent-post-item>.recent-post-info>.article-title {
    color: #ffffff
}


/* 手机端文章宽度 */

@media screen and (max-width: 900px) {
    .layout>div:first-child {
        width: 87% !important;
        margin: 0 auto
    }
}

h1#site-title {
    font-family: arzhu!important
}

span#subtitle {
    font-family: arzhu!important
}

a#site-name {
    font-family: arzhu!important
}

#recent-posts>.recent-post-item,
.layout_page>div:first-child:not(.recent-posts),
.layout_post>#page,
.layout_post>#post,
#aside-content .card-widget {
    background: linear-gradient(90deg, rgb(247 149 51 / 42%), rgb(243 112 85 / 43%) 15%, rgb(239 78 123 / 31%) 30%, rgb(161 102 171 / 55%) 44%, rgb(80 115 184 / 48%) 58%, rgb(16 152 173 / 46%) 72%, rgb(7 179 155 / 50%) 86%, rgb(109 186 130 / 59%));
    backdrop-filter: saturate(100%) blur(5px);
}

#footer {
    background: rgba(255, 255, 255, .15);
    color: #000;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    backdrop-filter: saturate(100%) blur(5px)
}

#footer::before {
    background: rgba(255, 255, 255, .15)
}

#footer #footer-wrap {
    color: var(--font-color)
}

#footer #footer-wrap a {
    color: var(--font-color)
}

#sidebar #sidebar-menus {
    background: rgba(255, 215, 255, .25);
    backdrop-filter: saturate(100%) blur(5px);
}

#sidebar #menu-mask {
    background: none;
}

#sidebar #sidebar-menus .menus_items .site-page {
    color: #0d0c0c;
}

#aside-content .aside-list>.aside-list-item .content>.title,
#aside-content .aside-list>.aside-list-item .content>.comment {
    color: #e8ebe9;
}

#aside-content .aside-list>.aside-list-item .content>time,
#aside-content .aside-list>.aside-list-item .content>.name {
    color: #d4d6da
}

.tk-comments {
    color: #0d0c0c;
}

#article-container {
    color: #0d0c0c;
}